body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
    margin: auto;
    padding: 30px;
}

/*header*/
.right{
    float: right;
    margin-right: 40px;
}

.right a {
    margin: 10px;
    margin-top: 0;
    padding: 5px;
}

.bold{
    font-weight: bold;
}

.left{
    float: left;
}

.padding{
    padding: 20px;
    padding-bottom: 25px;
    padding-right: 20px;
}

/*banner*/
.banner{
    height: 400px;
    width: 100%;
    background-image: url(https://coverfiles.alphacoders.com/150/thumb-1920-150394.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
}

.banner h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-decoration: underline;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

.banner h2{
    text-align: center;
    color: rgb(0, 0, 0);
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

/*about*/

.article-name{
    font-size: 20px;
    text-align: center;
    margin: 50px 50px 20px 50px;
    padding: 20px;
    background-color: cadetblue;
    text-decoration: underline;
}

.article-text{
    width: 50%; 
    text-indent: 20px;
    border: rgb(21, 5, 59) solid 2px;
    padding: 20px;
    padding-top: 65px;
    line-height: 25px;
    background-color: white;
    margin-left: 50px;
}

.underline{
    text-decoration: underline;
}

.small-img{
    width: 280px;
    margin: 20px;
    margin-left: 80px;
    border: rgb(21, 5, 59) solid 2px;
}

.about-me{
    background-color: darkgray;
    padding: 40px;
}

ul{
    margin: 0 60px 10px 0;
    border: black solid 2px;
    padding: 30px;
    padding-left: 40px;
    height: 70%;
}

li{
    padding: 3px;
}

.sixty{
    width: 60%;
}

/*projects*/ 

.project-name{
    font-size: 22px;
    padding: 20px;
}

.medium-img{
    width: 600px;
}

.text{
    text-indent: 20px;
    line-height: 25px;
    padding: 10px;
}

.border{
    border:rgb(0, 0, 0) solid 2px;
}

.grey{
    background-color: darkgray;
}

.white{
    background-color: white;
}

.margin{
    margin: 10px;
}

.padding-ten{
    padding: 10px;
}

.margin-top{
    margin-top: 10px;
    margin-left: 10px;
}

.smaller{
    font-size: 15px;
}

.naruto{
    margin-top: 100px;
}

section{
    margin-top: 70px;
}

.descrip{
    width: 250px;
}

.hidden{
    visibility: hidden;
}
